@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Baloo2;
    src: url(./fonts/Baloo2-SemiBold.ttf);
}
@font-face {
    font-family: FredokaOne;
    src: url(./fonts/fredoka-one.one-regular.ttf);
}
